<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727886277593-jt2v7bei3j97pq09vsphpi7vfk26mu8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727886277593-jt2v7bei3j97pq09vsphpi7vfk26mu8l</string>
	<key>API_KEY</key>
	<string>AIzaSyA8vE7qvmzLbp-k8gxfIOgUCj7_lgUaoug</string>
	<key>GCM_SENDER_ID</key>
	<string>727886277593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Oleg-Kanatov.ToDoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todofirebase-8b26e</string>
	<key>STORAGE_BUCKET</key>
	<string>todofirebase-8b26e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:727886277593:ios:3e6032501aa8d6481b87c8</string>
	<key>DATABASE_URL</key>
	<string>https://todofirebase-8b26e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
